.connect-button {
    font-size: large;
    font-weight: bold;
}

.top-bar {
    border: 1px solid gray;
    padding: 10px;
}

.status-display {
}

.status-display-connected {
    color: lime;
    font-weight: bold;
}

.status-display-disconnected {
    color: red;
    font-weight: bold;
}

.main-box {
}

.lcd-box {
    border: 1px solid gray;
}

.plot-area {
    background: #555555;
}

.lcd-display {
    font-size: xx-large;
    font-family: monoscape;
    color: #55ffcc;
}

.status-label {
    border: 2px solid gray;
    background: #555555;
}

.status-label-active {
    background: green;
}

.status-label-active.status-label-red {
    background: red;
    color: yellow;
    font-weight: bold;
}
